# Python Basics
## Foundation Course MAS - HBRS
___Author : Iswariya Manivannan___

__Tricks and hacks for using jupyter notebook__

Jupyter notebooks run on an underlying iPython kernel.

* __Jupyter notebook shortcuts__<br>
Shortcuts always come in handy. <br>
1.Switch to Command mode - Esc <br>
2.Switch to Edit mdoe - Enter <br>
3.Run a cell - Shift+Enter <br>
4.Create new cells above - Press A in Command Mode <br>
5.Create new cells below - Press B in Command Mode <br>
6.Delete a cell - Press D in Command Mode <br>
7.Code completion - Tab <br>
8.Extending documentation by displaying docstrings - Shift+tab <br>

## Let's Get Started!!!

__Doctor's Advice: Its good practise to place your imports, if any, in the first cell of the notebook__

In [69]:
# import <package name>
import sys
import math
import copy      # To create a deep copy of lists
from collections import deque  # deque for creating queues
import heapq                # for creating heapq

print sys.version

2.7.15 |Anaconda, Inc.| (default, Nov 13 2018, 17:33:26) [MSC v.1500 64 bit (AMD64)]

## Datatypes, Variables, Expressions

Identifiers - Names of variables, functions, classes, objects, etc. <br>
Names can begin with alphabets or _ and can contain number, but no special characters are allowed

__Doctor's Advice: Follow the PEP8 Python style guide for Code. It makes your code more "Pythonic" and improves code readability__

In [11]:
my_var = 10
_9_var = 9
# 10_name is not a valid variable name
# dollar_$ is not a valid variable name

Basic Built-in datatypes in Python - __int, float, bool__

In [22]:
my_string = "hello world"
print my_string

hello world

In [27]:
var_1 = 10
type(var_1)
var_2 = 100.5
type(var_2)
#print type(var_1), type(var_2), var_1, var_2
print "{0} is of type {1}".format(var_1, type(var_1)) # Print statement with string formatting - here 0, 1 is optional

10 is of type <type 'int'>

In [48]:
person_1 = "person_1"
person_2 = "person_2"
person_3 = "person_3"
#print "My friends {2} {1} {0}".format(person_1, person_2, person_3)

decimal_num = 100.5938
decimal_num_1 = 2.1562
print "Decimal number value {1:.2f},  {0:.1f}".format(decimal_num, decimal_num_1) # Changing the .format args position

Decimal number value 2.16,  100.6

__Evaluating Expressions using Arithmetic operators__ <br>
Create to variables "first" and "second" with values 5 and 10 <br>
* Add the two variables and assign them to another variable "result"
* Subtract 2 from the result
* Perform an true division by 2
* Perform a floor division by 2
* Get the remainder

In [54]:
var_1 = 5
var_2 = 10
result_sum = var_1 + var_2
result_sub = var_1 - var_2
result_mul = var_1 * var_2
result_true_div = var_1 / var_2
result_remainder = var_1 % var_2

print "Results are {} {} {} {} {}".format(result_sum, result_sub, result_mul, result_true_div, result_remainder)

Results are 15 -5 50 0 5

__Tips for Python 3.X Users__ <br>
Check out "f strings" in python 3.6 and above

Use a Python built-in function to obtain the quotient and remainder

In [55]:
divmod(var_1, var_2)

(0, 5)

__Evaluating Expressions using Relational operators__ <br>
Harry, Ron, Hermoine obtained 98.5, 90.4, 99.2 in the exam. <br>
* Compare the marks
* Are Harry and Ron's marks equal?

In [1]:
# Relational operators =====>  <, >, >=, <=, !=, ==
harry = 98.5
ron = 90.4
hermoine = 99.2

print "Example of comparison {}".format(harry > hermoine > ron)  # Expressions can be evaluated in .format()
print "Is equal harry and ron {}".format(harry == ron)

Example of comparison False
Is equal harry and ron False

__Combining expressions using Logical operators__ <br>
The no. of sharks in summer in a particular sea is 100, the no. is 50 in autumn and finally is reduced to 20 in winter. <br>
* Check if the no. is greater than 15 in all seasons.
* Check if the no. is less than 30 atleast in one season.

In [64]:
# Logical operators ===>  and or not
summer = 100
autumn = 50
winter = 20

(summer > 15) and (autumn > 15) and (winter > 15)
(summer >= 30) or (autumn >= 30) or (winter >= 30)

True

## Importing math Module
The math module allows you to perform mathematical operations <br>
* Find the exponent and log of 2
* Find the cosine of 180
* Find the factorial of a number
* Convert 1.5 radians to degrees
* Find the absolute value of -20
* Find the value of 5 raised to power 3

In [94]:
'''
This
is 
a 
multi-line
comment
'''

exponent = math.exp(2)
log = math.log(2)
factorial = math.factorial(2)
rad2deg = math.degrees(1.5)

print "Exponent {}".format(exponent),  # Put a comma for print statement outputs to be on same line        
print "Log value {}".format(log)
print "Factorial {}".format(factorial)
print "Radians to Degrees".format(rad2deg)

Exponent 7.38905609893 Log value 0.69314718056
Factorial 2
Radians to Degrees

In [76]:
absolute_val = abs(-20)
print "Absolute value {}".format(absolute_val)

Absolute value 20

In [74]:
power = 5 ** 3
print "Power {}".format(power)

Power 125

In [80]:
sqrt = 25 ** (1.0/2)
print "Square root {}".format(sqrt)

Square root 5.0

## Conditional Statements

__Python has the if conditional statement.__ <br>
The if conditional occurs in 3 variants.
* if statement <br>
The bank balance of 3 customers is 10000 USD, 5000 USD and 100 USD. <br>
Check if the balance of the second customer is greater than 1000 USD and print the balance.

In [4]:
cust_1 = 10000
cust_2 = 5000
cust_3 = 9000

if cust_2 > 1000:                          # DONT FORGET THE COLON
    print "Balance {}".format(cust_2)

Balance 5000

* if...else statement <br>
Check if the balance of the third customer is greater than 1000 USD, otherwise add a fine of 100 USD 
and subtract it from the main balance.

In [3]:
if cust_3 > 1000:
    print "Balance in if part {}".format(cust_3)
else:
    cust_3 = cust_3 - 100
    print "Balance in else part {}".format(cust_3)

Balance in else part 0

* if...elif statement
Also check if the balance is greater than 8000 USD, if so give the customer a bonus of 100 USD.

In [7]:
if cust_3 > 1000 and cust_3 < 2000:
    print "Balance in if part {}".format(cust_3)
elif cust_3 > 8000:
    cust_3 += 100
    print "Balance in el...if part {}".format(cust_3)
else:
    cust_3 = cust_3 - 100
    print "Balance in else part {}".format(cust_3)

Balance in el...if part 9100

## Looping in Python

Python uses 2 types of loops <br>
* while loop (less commonly used) <br>
Print the first 10 natural numbers and their sum

In [10]:
n = 1
output = 0

while n < 11:
    output += n
    print "Iteration {} output value {}".format(n, output)
    n += 1
    
print "Final Loop output {}".format(output)

Iteration 1 output value 1
Iteration 2 output value 3
Iteration 3 output value 6
Iteration 4 output value 10
Iteration 5 output value 15
Iteration 6 output value 21
Iteration 7 output value 28
Iteration 8 output value 36
Iteration 9 output value 45
Iteration 10 output value 55
Final Loop output 55

* For loop
Print the first 10 natural numbers and their sum

In [23]:
# xrange(1, 11) creates an iter object in python 2.x
# range(1, 11) creates a list in python 2.x
# For python 3.x just use range(1, 11)

output = 0
for i in range(1, 11):   # Only ITERABLES in for loop
    print "Numbers {}".format(i)
    output += i
    
print "Final Loop output {}".format(output)

Numbers 1
Numbers 2
Numbers 3
Numbers 4
Numbers 5
Numbers 6
Numbers 7
Numbers 8
Numbers 9
Numbers 10
Final Loop output 55

Control statements like **break** and **continue** are also used in python. <br>
* Exit the loop when the number 5 is reached.

In [22]:
for i in range(1, 11):
    print i
    if i == 5:
        break

1
2
3
4
5

Use a while to check if a given number is prime or not

In [1]:
number = 3
factors = 2
is_prime = True
while factors <= number//2:
    if number%factors == 0:
        is_prime = False
        break
    factors += 1
    
if is_prime:
    print "{} Is Prime".format(number)
else:
    print "{} is Not Prime".format(number)

SyntaxError: invalid syntax (3769772171.py, line 11)

A more elegant way using  the __else__ statement with the while loop

In [18]:
number = 8
factors = 2
while factors <= number//2:
    if number%factors == 0:
        print "{} is Not Prime".format(number)
        break
    factors += 1
else:
    print "{} Is Prime".format(number)

8 is Not Prime

else statements can also be used with for loops

In [25]:
number = 97
factors = 2
for factor in range(2, number//2+1):
    if number%factor == 0:
        print "{} is Not Prime".format(number)
        break
else:
    print "{} Is Prime".format(number)

97 Is Prime

## Advanced Data Types in Python

* Strings 
* Lists
* Tuples
* Dictionary

### Strings  <br>
Strings are a sequence of characters enclosed in single quotes or double quotes. They are __immutable__. <br>
Create a string " foundation_course "
* Count the number times of char "o" occurs in it
* Remove the white spaces before and after
* Find the characters "a", "b", "c", "d" and replace with "X"
* Split the string based on "_"
* Convert the string to upper case

In [67]:
my_str = "foundation_course," # you can also do my_str = 'foundation_course'
occurence_o = my_str.count("o")
print "o occurs {} times".format(occurence_o)

white_space = my_str.strip(",")
print my_str
print white_space

char_loc = my_str.find("a")
print "Location of a is {}".format(char_loc)

new_string = my_str.replace("d", "XX")
print "New string : {}".format(new_string)

split_str = my_str.split("_")
print split_str

upper_case_str = my_str.upper()
print "Upper case string : {}".format(upper_case_str)
print "Original string {}".format(my_str)

o occurs 3 times
foundation_course,
foundation_course
Location of a is 5
New string : founXXation_course,
['foundation', 'course,']
Upper case string : FOUNDATION_COURSE,
Original string foundation_course,

Extract the digits of the number 4016 and add check if they are even. <br>
Hint: Convert the number to a string

In [66]:
num = str(4016)
for i in num:
    digit = int(i)
    # print "Digits {} and type {}".format(digit, type(digit))
    if digit%2 ==0:
        print "Even digits {}".format(digit)

Even digits 4
Even digits 0
Even digits 6

## Lists <br>
The most versatile data-type consisting of comma separated values enclosed in square brackets [] <br>
A marks of a class of 4 students are 90, 40, 80, 60 <br>

* Reverse the list
* Add the marks 95, 75 to the list
* Insert the marks 100 in the 3rd position
* Remove the marks 40
* Remove the last element of the list
* Sort the elements of the list

In [84]:
mark_list = [90, 40, 80, 60]
mark_list.reverse()
print mark_list

# Adding at the last
mark_list.append(95)
print mark_list

# Insert by position
mark_list.insert(1, 100)
print mark_list

# Removing by value
mark_list.remove(40)
print mark_list

# Popping out last element
mark_list.pop()
print mark_list

[60, 80, 40, 90]
[60, 80, 40, 90, 95]
[60, 100, 80, 40, 90, 95]
[60, 100, 80, 90, 95]
[60, 100, 80, 90]

* Add the names lucy and jenny to list

In [85]:
mark_list.append("jenny")
print mark_list
mark_list.insert(0, "lucy")
print mark_list

[60, 100, 80, 90, 'jenny']
['lucy', 60, 100, 80, 90, 'jenny']

__Doctor's Advice Again:__ <br>
* Create a matrix $A = \begin{bmatrix}2 & 3 \\5 & 6 \\1 & 1\end{bmatrix}$ using lists
* Append another list of vowels to this list

In [90]:
matrix = [[2, 3], [5, 6], [1, 1]]
vowels = ["a", "e", "i", "o", "u"]
matrix.append(vowels)
print matrix

[[2, 3], [5, 6], [1, 1], ['a', 'e', 'i', 'o', 'u']]

## Indexing and Slicing
Python provides a very convenient way of indexing elements of strings, lists, tuples and dictionaries. <br>
* Create a string "Hello_world"
* Print the first, third and fifth char of the string
* Print the first 6 characters of the string
* Print the last 5 characters of the string

In [95]:
my_str = "hello_world"
print my_str[0], my_str[2], my_str[4]
print my_str[:6]              # First 6 characters
print my_str[-5:]           # Last 5 characters
print my_str[::-1]          # reverse a string with step 1
print my_str[::2]             # step value 2

h l o
hello_
world
dlrow_olleh
hlowrd

* Create a list from the string given above
* Print the elements from the first position to the second last element

In [104]:
str2list = list(my_str)
print str2list
str2list[0:-1]
str2list[0] = 100
str2list

['h', 'e', 'l', 'l', 'o', '_', 'w', 'o', 'r', 'l', 'd']

[100, 'e', 'l', 'l', 'o', '_', 'w', 'o', 'r', 'l', 'd']

## Tuples
Tuples are __immutable__ lists enclosed in paranthesis () <br>
* Create a tuple of the above mentioned 4 marks
* Try modifying the first element of the tuple
* Create another tuple of marks 55, 65
* Add the two tuples and store it in a new tuple
* Get the third element from the last in the new tuple

In [95]:
tuple_marks = (90, 40, 60, 80, 90)
print tuple_marks
# tuple_marks[0] = 100          Assignment does not work and behaviour is similar to strings
tuple_2 = (55, 65)
new_tuple = tuple_marks + tuple_2
print new_tuple, tuple_2, tuple_marks
print new_tuple[-3]         # third element from the last

(90, 40, 60, 80, 90)
(90, 40, 60, 80, 90, 55, 65) (55, 65) (90, 40, 60, 80, 90)
90

## Built-in Functions common to strings, lists, tuples
* Create a string "foundation_course_2018"
* Create a list of nos - 90, 70, 30, 20, 50
* Create a tuple of prime nos - 2, 3, 5, 7, 11, 13, 17
* Find the len of each
* Find the max and min of each
* Find the sum of nos in the tuple and list

In [113]:
my_str = "foundation_course_2018" 
num_list = [90, 70, 30, 20, 50]
prime_tuple = (2, 3, 4, 7, 11, 13, 17)
print len(my_str), len(num_list), len(prime_tuple)
print max(my_str), max(num_list), len(prime_tuple)
print min(my_str), min(num_list), min(prime_tuple)

print sum(num_list), sum(prime_tuple)

22 5 7
u 90 7
0 20 2
260 57

## Dictionary
Dictionaries are key, value pairs separated by a colon and enclosed with curly brackets {} <br>
* Create a dictionary of the following weather data<br>
Berlin - 25 <br>
Helsinki - 15 <br>
Madrid - 29 <br>
Dubai - 34 <br>
* Print the keys and values of the dictionary
* Check if the dictionary has the key Paris, if not add the key with value 27
* Get the value of key Madrid
* Set the default value of key Rome to 30 and Berlin to 20

__Note: Dictionaries are indexed by keys and hence, slicing cannot be applied to it __

In [135]:
example = {1: "a", 3.1: {1: "one"}, "alphabet": 3.4, (1, 2, 3): [1, 2, 3]}

weather_data = {"berlin": 25, "helsinki": 15, "madrid": 29, "dubai": 34}

print weather_data
print "Keys are {}".format(weather_data.keys())      # Getting keys
print "Values are {}".format(weather_data.values()) # Getting values
weather_data.setdefault("paris", 27)       # checking for key & setting default it not
print weather_data
print "I want temp of madrid ? {}".format(weather_data["madrid"])  # Indexing with keys
weather_data.setdefault("berlin", 20)
weather_data.setdefault("rome", 30)
weather_data

{'madrid': 29, 'berlin': 25, 'dubai': 34, 'helsinki': 15}
Keys are ['madrid', 'berlin', 'dubai', 'helsinki']
Values are [29, 25, 34, 15]
{'paris': 27, 'madrid': 29, 'berlin': 25, 'dubai': 34, 'helsinki': 15}
I want temp of madrid ? 29

{'berlin': 25,
 'dubai': 34,
 'helsinki': 15,
 'madrid': 29,
 'paris': 27,
 'rome': 30}

__Doctor's Advice Again:__ <br>
* Modify the above dictionary by replacing the value of Berlin with a list of nos 10, 15, 20
* Create a tuple of countries Germany, Spain, Finland
* Create a list of nos 3, 2, 5, 6
* Append the dictionary and tuple to the list

In [138]:
weather_data["berlin"] = [10, 15, 20]
print weather_data

countries = ("Germany", "Spain", "Finland")
my_list = [3, 2, 5, 6] 

my_list.append(weather_data)
my_list.append(countries)
print my_list

{'dubai': 34, 'helsinki': 15, 'paris': 27, 'madrid': 29, 'berlin': [10, 15, 20], 'rome': 30}
[3, 2, 5, 6, {'dubai': 34, 'helsinki': 15, 'paris': 27, 'madrid': 29, 'berlin': [10, 15, 20], 'rome': 30}, ('Germany', 'Spain', 'Finland')]

## Built-in functions in Python
Python has several built-in functions which can be used on the fly without importing any modules. <br>
__1. Getting help from Python__

In [ ]:
help()

__2. range()__ <br>
range produces an iter object in Python 3 and is similar to xrange in Python 2 <br>
* Generate the series - 1, 4, 9, 16, 25, 36, 49, 64, 81, 100 <br>
* Generate the multiples of 4

In [12]:
for i in range(1, 11):
    print i*i,                   # To print everything on same line use , in print statement in python 2.X
# To print everythin on same line in python 3.X use the default argument sep='' (Use shift+tab to view the arguments)

1 4 9 16 25 36 49 64 81 100

__3. sorted()__ <br>
Returns a sorted copy of the original list. __Does not mutate__ the original list. <br>
* Create a list of nos - 5, 3, 9, 6, 1, 0
* Sort the list in reverse order

In [148]:
my_list = [5, 3, 9, 6, 1, 0]
# my_list.sort()             # changes in place
# print my_list

sorted_list = sorted(my_list, reverse=True)     # returns a copy of the original list
print sorted_list
print my_list

[9, 6, 5, 3, 1, 0]
[5, 3, 9, 6, 1, 0]

__4. reversed()__ <br>
Returns a reversed copy of the original list. __Does not mutate__ the original list. Returns an iter object in Python 3
* Create a list of vowels and reverse them

In [154]:
vowels = ["a", "e", "i", "o", "u"]
# vowels.reverse()
# print vowels            # inplace change

reversed_list = list(reversed(vowels))     # return a copy of reversed list but as iter object
print reversed_list                       # so use type casting to convert to list
print vowels

['u', 'o', 'i', 'e', 'a']
['a', 'e', 'i', 'o', 'u']

__5. set()__ <br>
Create a set of items in a list or tuple. Removes duplicates. <br>

In [160]:
set_example = {1, 3}
type(set_example)

set

In [157]:
num_list = [3, 5, 1, 0, 2, 9, 1, 0]
num_set = set(num_list)

__6. Type casting in python__

In [164]:
int_var = 10
print float(int_var)
print list(str(int_var))

num_list = [1, 2, 3]
print tuple(num_list)

10.0
['1', '0']
(1, 2, 3)

__Pay Attention !! Iterating through lists__ <br>
Python for loops are very different from other programming languages 
<br>
__The wrong way of iterating through elements of a list!!__<br>

In [173]:
my_list = [10, 20, 30, 40]

for i in range(0, len(my_list)):
    print my_list[i]

10
20
30
40

__The Right way__

In [174]:
for i in my_list:
    print i

10
20
30
40

__Doctor's Advise Again!!  Exercise__
* Create a list of first 20 natural nos.
* Filter out the even nos and print them.

In [175]:
natural_nos = range(1, 21)
for i in natural_nos:
    if i%2 == 0:
        print "Even number {}".format(i)

Even number 2
Even number 4
Even number 6
Even number 8
Even number 10
Even number 12
Even number 14
Even number 16
Even number 18
Even number 20

* Create a list of birds - pigeon, crow, eagle, swan, duck, chicken, woodpecker
* Filter out the birds which start with a vowel.

In [179]:
birds = ["pigeon", "crow", "eagle", "swan", "duck", "chicken", "woodpecker"]
vowels = ["a", "e", "i", "o", "u"]
for b in birds:
    if b[0].lower() in vowels or b[0].upper() in vowels:  # Use membership operator to check for existence of vowels in seqence
        print b

eagle

__7. enumerate()__ <br>
Returns the count and value of the iterable. <br>
* Create a list of multiples of 3
* Iterate through the list and add 10 to the nos in the even position.

In [191]:
for idx, vowel in enumerate(vowels):
    print idx, vowel

0 a
1 e
2 i
3 o
4 u

In [194]:
for idx, element in enumerate(range(0, 30, 3)):

    if idx%2 == 0:
        element += 10
        print idx, element

0 10
2 16
4 22
6 28
8 34

__8. zip()__<br>
Useful when you need to iterate through multiple lists at the same time.
* Create two lists [1, 2, 3, 4, 5], [1, 1, 1, 1, 1]
* Add the elements of the two lists and store them in a new list

In [200]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [1, 1, 1, 1]

for element_1, element_2 in zip(list_1, list_2):
    print element_1, element_2

1 1
2 1
3 1
4 1

__9. input()__

Write a program that accepts a sequence of whitespace separated characters from the user and capitalizes the first letter in each word

In [209]:
user_input = input("enter a value:")
print user_input

enter a value:10
10

Write a program that accepts a sentence and calculate the number of letters and digits.
* Input : Python 3.7
* Output : LETTERS 6, DIGITS 2

In [17]:
input_str = raw_input("Enter the sentence: ")
n_digits = sum(s.isdigit() for s in input_str)
n_letters = sum(s.isalpha() for s in input_str)
print n_digits, n_letters

Enter the sentence: Python 3.7
2 6

__List Comprehension__ <br>
One liners for getting a list output from for loops <br>
List comprehension is faster than normal for loops 
* Lets work on the same problem of extracting the digits from a number.

In [213]:
number = str(4561)
digits = []
for i in number:
    digits.append(int(i))
print digit_list

[4, 5, 6, 1]

In [211]:
digit_list = [int(i) for i in number]
print digit_list

[4, 5, 6, 1]

* Extract only even digits from a number

In [215]:
even_digits = [int(i) for i in number if int(i)%2==0]   # list comprehension if
print even_digits

[4, 6]

* Extract the even digits from a number and replace the other digits with 100

In [216]:
even_digits = [int(i) if int(i)%2==0 else 100 for i in number]  # list comprehension if...else
even_digits

[4, 100, 6, 100]

In [217]:
numbers = [1, 2, 3, 4]
names = ["one", "two", "three", "four"]

number_dict = {num:name for num, name in zip(numbers, names)}  # Dictionary comprehension
number_dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

* Create a matrix using lists $A = \begin{bmatrix}1 & 2 & 3 \\4 & 5 & 6 \end{bmatrix}$
* Find its transpose using list comprehension

In [10]:
A = [[1, 2, 3], [4, 5, 6]]

A_transpose = [[A[r][c] for r in range(len(A))]for c in range(len(A[0]))]
A_transpose

[[1, 4], [2, 5], [3, 6]]

## User-defined functions in Python
Functions in python are different from other languages - they can have any number of return values
* Write a basic function manipulate_numbers() to add, subtract, multiply and divide to numbers passed to it and return the corresponding values

In [246]:
def list_func(list_arr):
    num_copy = copy.deepcopy(list_arr)
    num_copy.append("foundation course")
    print "Inside function"
    print num_copy

num = [1, 2, 3]
list_func(num)
print "outside func"
print num

Inside function
[1, 2, 3, 'foundation course']
outside func
[1, 2, 3]

In [243]:
x = 0
def manipulate_numbers(x, y):
    add = x + y
    sub = x - y
    mul = x * y
    divide = x/y
    x = 100
    print "inside func"
    print x
    return add, sub, mul, divide

return_value = manipulate_numbers(10, 29)
print "outside func"
print x

inside func
100
outside func
0

Arguments can take on default values if not passed in function call.

In [256]:
def multiply_by_a_no(x, num=2):
    ans = x+num
    return ans

multiply_by_a_no(10, 5)

'hello5'

* Write a function that takes two lists as it arguments
* The function should reverse the first the list
* Then return the sum of elements of lists multiplied together

In [258]:
def manipulate_list(list_1, list_2):
    list_1.reverse()
    return sum(list_1)*sum(list_2)

orig_list = [1, 2, 4]
print manipulate_list(orig_list, [1, 1])
print orig_list

14
[4, 2, 1]

__Doctors Advice Again__ <br>
* Write a function to extract the second element of a tuple
* Create a list of tuples - (4,3), (6,2), (7,5), (0, 1)
* Sort the list based on the second element of the tuple
Hint: Pass the function to key argument in sorted()

In [20]:
def second_element(my_tuple):
    return my_tuple[1]

my_tuple = ((4, 3), (6, 2), (7, 5), (0, 1))
sorted_tuple = sorted(my_tuple, key=second_element)
print sorted_tuple

[(0, 1), (6, 2), (4, 3), (7, 5)]

Write a Recursive function to find the factorial of a number

In [260]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)
factorial(4)

24

## Other Built-in functions Python
* __Lambdas__ <br>
__Syntax: var = lambda arg: expression(arg)__ <br>
Create a function that returns the value of the no. passed to it multiplied by 100

In [281]:
def multiply_by_100(x):
    return x*100

multiply_by_100(40)

4000

In [269]:
lambda_func = lambda x, y:x*100*y if (x > 10) else 0
lambda_func(40, 2)

8000

In [271]:
lambda_func = lambda x:x*100
lambda_func(40)

4000

* __Map__ <br>
It is used for mapping a list to a function. <br>
__Syntax: map(func_to_map, list_to_be_passed)__ <br>
Note: Map returns an iter object in python. Type casting to list datatype may be used.

Create a list of number from 1 to 10 and multiply each element by 100

In [1]:
map(multiply_by_100, range(0, 11))

NameError: name 'multiply_by_100' is not defined

In [272]:
map(lambda_func, range(0, 11))

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

* Create a list of square root of numbers from 1 to 20 using map and lambda

In [288]:
add = lambda x, y:x+y
map(add, [1, 2, 3, 4], [1, 1, 1, 1])

[2, 3, 4, 5]

In [283]:
import math
sqrt = lambda x:math.sqrt(x)
map(sqrt, range(1, 21))

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958]

__Note: Also lookup reduce() and filter()__

Use timeit to time the execution of a normal for loop, list comprehension, map and lambda

In [33]:
%%timeit
for i in xrange(100):
    i*i

100000 loops, best of 3: 7.57 s per loop

In [32]:
%%timeit
[a*a for a in range(100)]

100000 loops, best of 3: 13.5 s per loop

In [31]:
%%timeit

map(lambda a: a*a, range(100))

10000 loops, best of 3: 27.6 s per loop

## Classes & Objects in Python

* Create a class Employee with variables name, age and nationality.
* Create objects to the class - Richard, 35, American; Leonardo, 45, Spanish; Chen, 25, Chinese

In [27]:
class Employee(object):      # PLease NOTE the self parameter in functions and class variables
    
    company = "Bosch"
    
    def __init__(self, name, age, nationality):
        
        self.__name = name               # Strict Private variable because of double __
        self._age = age                   # Supposed to be used as private variable because of single _
        self._nationality = nationality
        
    def print_values(self):
        print "Name : {}".format(self.__name)
        print "Age : {}".format(self._age)
        
    def calc_salary(self):
        
        if self._age > 30:
            salary = 10000
        else:
            salary = 30000
            
        self.print_values()
            
        return salary
        
person_1 = Employee("Richard", 35, "American")
person_2 = Employee("Leonardo", 45, "Spanish")
person_3 = Employee("Chen", 25, "Chinese")

salary = person_1.calc_salary()
print salary

person_2.print_values()

# print person_1.__name                 # Will throw an ERROR
print person_2._nationality

Name : Richard
Age : 35
10000
Name : Leonardo
Age : 45
Spanish

* Create a class method which calculates the salary based on age. <br>
If age is between 20 and 30, then salary is 5000 USD <br>
If age is between 31 and 40, then salary is 10000 USD <br>
If age is between 41 and 50, then salary is 15000 USD <br>

In [35]:
class Salary(Employee):                    # Example of Single Inheritance. Multiple inheritance also possible
    
    def __init__(self, name, age, nationality):
        
        super(Salary, self).__init__(name, age, nationality)  # Usage of super varies in python 3
        # Syntax for python 3: super().__init__(name, age, nationality)                                                                            
        
    def increment_salary(self, bonus):
        
        salary = self.calc_salary()
        print "Original salary : {}".format(salary)
        salary += bonus
        
        return salary
        

employee = Salary("Bob", 25, "German")
hiked_salary = employee.increment_salary(5000)
print "Hiked Salary : {}".format(hiked_salary)

Name : Bob
Age : 25
Original salary : 30000
Hiked Salary : 35000

Implement a class that is capable of functioning as a stack (LIFO - Last In First Out) <br>
The class should have the following functionalities<br>
* Adding elements to the stack
* Deleting elements from the stack
* Computing the length of the stack
* Returning the top element of the stack

In [53]:
class Stack:
    
    def __init__(self):
        
        self._stack = []       # Initial stack is an empty list
        
    def push(self, element):
        
        self._stack.append(element)      # Adds element to the end of stack list
        
    def pop(self):
        
        element = self._stack.pop()    # Removes the last element
        
        return element
    
    def print_stack(self):
        
        print self._stack
        
stack_obj = Stack()
stack_obj.push(10)
stack_obj.push(20)
stack_obj.push(30)
stack_obj.push(40)              # After pushing 4 elements
stack_obj.print_stack()
popped_element = stack_obj.pop()
print(popped_element)
stack_obj.print_stack()         # After popping last elemet


# Lists can be used to implement queue by using append() for pushing to queue and remove(list[0]) for removing first element

[10, 20, 30, 40]
40
[10, 20, 30]

Implement a class that is capable of functioning as a Queue (FIFO - First In First Out) 
The class should have the following functionalities

* Engeue
* Dequeue
* Computing the length of the queue
* Returning the first element of the queue

In [67]:
sample_list = [4]

queue = deque(sample_list)      # Use deque from collections module (look at the first cell in the notebook)
queue.append(6)
queue.append(10)
print queue                 # After adding to end of queue

popped_element = queue.popleft()      # Popping element from beginning of queue
print queue

# deque can also used to implement stack using append() for push and pop() for popping.

deque([4, 6, 10])
deque([6, 10])

Implement a basic heap in python

In [78]:
my_list = [12, 4, 2, 6, 10, 8]
heapq.heapify(my_list)            # See imported heapq module at the top of notebook
print "Built min heap from list {}".format(my_list)
heapq.heappush(my_list, 1)
print my_list
heapq.heappop(my_list)

Built min heap from list [2, 4, 8, 6, 10, 12]
[1, 4, 2, 6, 10, 12, 8]

1

__Note : Read about other classes in the collections module__

## __Whats Next??__

### __Generators, Exceptions, Decorators, Metaclasses, OOPs, Design Patterns__

### Other sources for learning Python: <br>
1.Tutorials Point - https://www.tutorialspoint.com/python/ <br>
2.Learn Python the hard way <br>
3.Python for Computation science https://www.southampton.ac.uk/~fangohr/training/python/pdfs/Python-for-Computational-Science-and-Engineering.pdf <br>
3.Data Structures and Algorithms in Python - 
Book by Michael H. Goldwasser, Michael T. Goodrich, and Roberto Tamassia (Advanced) <br>
4.Effective Python: 59 Specific Ways to Write Better Python - 
Book by Brett Slatkin (Advanced) <br>
5.Learning Python 5th edition (Advanced and Highly recommended)